@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 10em;
}

h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

.resposta {
    margin: 10px;
    width: 80%;
    font-size: 1.5em;
    display: none;
}

.show {
    display: flex;
}

#isenha {
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    padding: 15px;
    width: 90%;
}

#copiar {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    width: 10%;
    cursor: pointer;
}

i {
    font-size: 1.8em;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5em;
}

.config {
    margin: 8px;
    width: 95%;
}

input {
    font-size: 0.8em;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.btn {
  border: none;
  border-radius: 5px;
  background: #2ecc71;
  cursor: pointer;
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 80%;
  align-self: center;
  margin: 8px;
}

.btn:hover {
  background: #27ae60;
}